.cart {
  width: 320px;
  min-height: 100px;
  height: 400px;
  background-color: #e6e6e6;
  position: absolute;
  bottom: 0;
  transform: translateY(calc(100% + 12px));
  right: -2em;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

.button-buy {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  border: none;
  background-color: #00bc0e;
  color: #fff;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  font-size: 1.1em;
}
.button-buy:hover {
  background-color: #53d15b;
}
.total-cart-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 3em;
}

.cart::before {
  content: "";
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  background-color: #f0f0f0;
  top: -15px;
  position: absolute;
  right: 2em;
  z-index: -1;
}
